<h1>Edit product</h1>

<%= form_tag("/products/#{@product.id}", method: :put) do %>

<div class="row">
<div class="col-sm-6">
<%= label_tag(:name, "Edit product's name:") %>
<%= text_field_tag(:name, @product.name, class: "form-control") %>
</div>

<div class="col-sm-6"
<div class="form-group">
  <%= label_tag(:category_id, "Select a Product Category:") %>
<%= select_tag(:category_id, options_from_collection_for_select(@categories, :id, :name, @product.category_id), prompt: "Select Product Category", class: "form-control") %>
</div>
</div>
</div>
<div class="form-group">
<%= label_tag(:description, "Edit product's description") %>
<%= text_area_tag(:description, @product.description, class: "form-control") %>
<%= label_tag(:image_url, "Enter a URL to your product's image:") %>
<%= text_field_tag(:image_url, @product.image_url, class: "form-control") %>
</div>

<div class= "row">
<div class="col-sm-3">
<%= label_tag(:price, " Edit product's price") %>
<%= number_field_tag(:price, @product.price, class: "form-control") %>
</div>
</div>
  

  
  
<div>
<%= submit_tag("Update Product", class: "btn btn-success") %>
  
</div>


<% end %>