 <h3> <%= @product.name %></h3>
 <p> <%= @product.price_format %></p>
   <p><i> <%= @product.description %></i></p>
 <%= image_tag(@product.image_url) %>


   <%= link_to("Edit Product", "/products/#{@product.id}/edit", class: "btn btn-primary") %>
   <%= link_to("Delete Product", "/products/#{@product.id}", method: :delete, class: "btn btn-danger") %>
  

